/*modificaton of bootstrap default behaviour*/
.card, .card-header, .btn, .modal-content, .modal-header, .form-control, .badge, .alert, .input-group-text, .nav-tabs .nav-link {
  border-radius: 0 !important;
}

  .form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table th, .table td {
  vertical-align: middle !important;
}

/* SCROLLBAR */
/*::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-button {
  background: #f7f7f9;
}
::-webkit-scrollbar-track-piece {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #eee;
}*/



select.ng-invalid.ng-touched, input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-valid.ng-touched, input.ng-valid.ng-touched, textarea.ng-valid.ng-touched, div.form-control.ng-valid.ng-touched {
  border: 1px solid #28a745;
}

.btn:focus, .btn:active, .page-item .page-link, .page-item.active .page-link {
  outline: none !important;
  box-shadow: none;
}

/*.input-group .form-control, .input-group-addon, .input-group-btn {
  display: table-cell;
}*/
