/*modificaton of bootstrap default behaviour*/
.card, .card-header, .btn, .modal-content, .modal-header, .form-control, .badge, .alert, .input-group-text, .nav-tabs .nav-link {
  border-radius: 0 !important;
}

  .form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table th, .table td {
  vertical-align: middle !important;
}



@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  
}

/* SCROLLBAR */
/*::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-button {
  background: #f7f7f9;
}
::-webkit-scrollbar-track-piece {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #eee;
}*/


